
 
.VBox{
    -fx-background-color: #ecf6f7;
    -fx-padding: 10;
}
.Button{
    -fx-background-color:  #a2bcc7;
    -fx-font-family: tahoma;

}
.Button:hover{
    -fx-background-color: #b4c9d2;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.Button1{
    -fx-background-color: #FAB297;
    -fx-font-family: tahoma;

}
.Button1:hover{
    -fx-background-color: #F67C4E;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.Label{
    -fx-font: tahoma;
    -fx-font-size:20;
    -fx-text-fill: #244777;
    
}
.GridPane{
    -fx-border-color: #A0D2DB;
    -fx-border-width: 5;   
}
.ComboBox{
    -fx-background-color:  #b6d4e0;
}

