/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.VBox{
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-color:#e5f2e5;
}
.ImageView{

}
.ComboBox{
    -fx-spacing: 10;
    -fx-font-size: 16;
    -fx-background-color: #ccccff;
    -fx-border-color: #00007f;
    -fx-border-width: 2;
    -fx-font-family:tahoma;
    -fx-font-style: bold;
   
  
}
.TextField{
    -fx-spacing: 10;
    -fx-font-size: 16;

}
.HBox{
    -fx-spacing: 12;
}
.Button{
    -fx-spacing: 12;
    -fx-background-color: #C9E2D3;
    -fx-border-color: #b4cbbd;
    -fx-border-width: 2;
}
.Button-DatMon{
    -fx-background-color: #4ca64c;
    -fx-border-color: #329932;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-font-family:tahoma;
    -fx-font-size:20;


}
