/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: lightblue;
}

.lbusername{
    -fx-alignment : center;
}
.Pane{
    -fx-background-color: #ecf6f7;

}
.Label{
    -fx-font: tahoma;
    -fx-font-size:20;
    -fx-text-fill: #942525;

}
.GridPane{
    -fx-background-color: #fbfce5;
    -fx-font: tahoma;
    -fx-border-color: #A0D2DB;
    -fx-border-width: 5;   
}
.Button{
    -fx-background-color:  #a2bcc7;
    -fx-font: tahoma;
  
}
.Button:hover{
    -fx-background-color: #b4c9d2;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.TableView{
    /*   -fx-background-color: #ecf6f7; */

}
