
.mainFxmlClass {
    -fx-padding: 10;
    -fx-background-color: #afb5bf;
}
.title{
    -fx-font-size : 20;
    -fx-font-family:tahoma;
    -fx-fill: #0f31c6;
}

.Vboxleft{
    -fx-spacing: 10;    
}

.txtpiechart{
    -fx-max-width: 300;
    -fx-max-height: 300;
}

.gridpane{
    -fx-width: 140;
    -fx-height: 150;    
}
TextField{
    -fx-max-width: 45;
    -fx-alignment: CENTER;
}
Button{
      -fx-min-width: 75;
}