
.main{
   -fx-background-color: #afb5bf;  
   -fx-alignment: CENTER;
   -fx-spacing: 10;
   
}
.txt{
    -fx-font-size : 20;
    -fx-font-family:tahoma;
    -fx-fill: #0f31c6;
    -fx-padding: 10;
}
.Hbox{
    -fx-spacing: 30;
    -fx-padding: 10;
}
.Hbox.Button{
    -fx-mix-width: 100;
}
TextField{
    -fx-max-width: 300;
}
.txtpass{
     -fx-max-width: 200;
}
.txtaddress{
    -fx-min-width: 300;
}

Label{
    -fx-font-weight: bold;
    
}

.grid{
    -fx-alignment: CENTER; 
    -fx-padding: 15;
    -fx-hgap: 10;
    -fx-vgap: 10;
}